<div class="container">
  <div id="chart-container" class="chart-container">
    <!-- Conteúdo do gráfico -->
  </div>
  <div class="form-container">
    <mat-form-field appearance="outline">
      <mat-label>Escolha uma opção</mat-label>
      <input
        type="text"
        matInput
        [formControl]="searchControl"
        [matAutocomplete]="auto"
        placeholder="Digite para buscar"
      />
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)" >
        <mat-option *ngFor="let option of filteredOptions" [value]="option.descricao">
          {{ option.nome }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
</div>
