/* app.component.css */

/* Definindo o tamanho da fonte global */
* {
  font-size: 12px; /* Tamanho da fonte global */
  font-family: Arial, sans-serif; /* Fonte padrão, você pode ajustar conforme necessário */
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: row;  /* Define o layout como linha, lado a lado */
  justify-content: space-between;
}



/* Área do gráfico */
.chart-container {
  flex-grow: 1;
  background-color: #fff;
  padding: 20px;
  position: relative;
  overflow: auto; /* Permite rolar se necessário */
}

/* Formulário, configurações de indicador e lista */
.form-container,
.indicator-settings,
.item-list {
  margin-bottom: 20px;
  width: 350px;
}

.mat-form-field {
  width: 100%;
}

.mat-radio-group {
  display: flex;
  flex-direction: column;
}

button {
  width: 100%;
}

.sidebar {
  width: 350px; /* Largura fixa do menu lateral */
  padding: 15px;
  background-color: #f4f4f4;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease; /* Animação para transição suave */
  height: 100%; /* Garante que a sidebar ocupe toda a altura */
}

.mat-list {
  flex-grow: 1; /* Garante que a lista ocupe o espaço disponível */
}

.mat-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Responsividade: Esconde o menu lateral e ajusta o gráfico */
@media (max-width: 900px) {
  .container {
    flex-direction: column;  /* Para telas pequenas, muda o layout para coluna */
  }

  .sidebar {
    width: 100%; /* O menu ocupa 100% da largura */
    box-shadow: none;
    margin-bottom: 15px; /* Espaçamento inferior */
  }

  .chart-container {
    padding: 10px; /* Menos padding para o gráfico em telas menores */
  }
}

/* Responsividade adicional para telas muito pequenas */
@media (max-width: 600px) {
  .sidebar {
    padding: 10px;
    margin-bottom: 10px;
  }

  .form-container,
  .indicator-settings,
  .item-list {
    margin-bottom: 10px;  /* Reduzindo margens em telas muito pequenas */
  }
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;  /* Para telas pequenas, muda o layout para coluna */
  }

  .sidebar {
    width: 100%; /* O menu ocupa 100% da largura */
    box-shadow: none;
    margin-bottom: 15px; /* Espaçamento inferior */
  }

  .chart-container {
    padding: 10px; /* Menos padding para o gráfico em telas menores */
  }
}

@media (max-width: 600px) {
  .sidebar {
    padding: 10px;
    margin-bottom: 10px;
  }

  .item-list {
    margin-bottom: 10px;
    width: 100%; /* A lista vai ocupar 100% da largura disponível */
  }
}

.radio-label {
  font-size: 12px;
  margin-bottom: 8px;
  display: block;
  width: 90%;
  margin-left: 3%;
}